#add_btn {
	-fx-background-color:rgba(0, 0, 0, 0.35);
}
#search_label{
	-fx-font-style: normal;
-fx-font-weight: normal;
-fx-font-size: 23px;
-fx-line-height: 24px;
}
#search_TF {
	-fx-text-fill:white;
-fx-prompt-text-fill: white;
}