
#info1_label , #tab_type {
-fx-font-family: 'Sarabun SemiBold' ;
}
/* tab pane css*/
.tab {
	-fx-pref-width:170;


}
.jfx-tab-pane .depth-container { 
	-fx-effect: none; 
}

.tab-header-background {
	-fx-background-color:transparent; 

}
.tab-label {
  -fx-text-fill:#000000;
  -fx-font-size:16px;
  -fx-font-weight:normal ;	


}
.jfx-tab-pane .tab-selected-line {
	-fx-border-color:#765EE2;
}
/**************************************************/
.title_label {
-fx-font-size: 16px;
-fx-font-family: 'Sarabun Medium ' ;
 -fx-text-fill:#000000;
}
.doc_info_label{
	-fx-font-size: 14px;
-fx-font-family: 'Sarabun SemiBold ' ;
 -fx-text-fill:#000000;
}
#import_btn {
	-fx-text-fill:#7C9DFF;
	-fx-font-family: 'Sarabun Medium ' ;
}
.func_btn {
	-fx-text-fill:white;
}
.footer_label {
	-fx-font-size: 10px;
	-fx-font-family: 'Sarabun Medium ' ;
	-fx-text-fill:#D9D9D9;
	
}
#buy_btn {
	-fx-font-size: 12px;
	-fx-text-fill:#01B9CA;
	-fx-padding: 0;
}
.combo-box-base  {
-fx-border-color:#D9D9D9;
-fx-border-radius:12px ;
-fx-background-color:white;
-fx-padding:0;
-fx-font-family:'Sarabun Medium';
-fx-font-size:12px;
   }
   .combo-box .list-cell {
	 -fx-text-fill: black;
   /* -fx-cell-size: 40px; */
}
.combo-box-popup .list-view .list-cell:filled:selected{
	 -fx-background-color: transparent;
    -fx-text-fill: black;
}
.combo-box-popup .list-view .list-cell:filled:hover {
		 -fx-background-color: #2196F3;
    -fx-text-fill: black;

}
#free_lbl {
	-fx-font-size: 12px;
}
.edit_fields {

}
.edit_use_btns {
-fx-background-radius: 100px;
-fx-border-color: #D9D9D9;
-fx-border-radius: 100px;
-fx-text-fill:#7C9DFF;
	-fx-font-family: 'Sarabun Medium ' ;
}
.selected_btn{
	-fx-background-color: #626ED4;
	-fx-background-radius: 8px;
	-fx-text-fill:white;
}
.template_pane{
	-fx-border-color: #E5E5E5;
	-fx-border-radius: 11px;
}
/* Color-picker********************/
.jfx-color-picker .color-label {
	-fx-text-fill:transparent;
	-fx-content-display	:graphic-only;
}
.jfx-color-picker .color-label .text {
	-fx-text-fill:transparent;
}
#save_customise_btn {
-fx-text-fill:white;
-fx-font-family: 'Sarabun Medium ' ;
}